{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    <section id="register">
        <h1>Créer votre compte</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Créer</button>
        {{ form_end(registrationForm) }}
        <p>Déjà un compte ? </p><a href="/login">Connectez-vous</a>
    </section>
{% endblock %}
