{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}

{% block body %}
    <section id="addOffre">
        <h1>Ajouter une offre</h1>

        {{ form_start(formNewOffres) }}
            {{ form_row(formNewOffres.name, { label: 'Titre :' }) }}
            {{ form_row(formNewOffres.place, { label: 'Lieu :' }) }}
            {{ form_row(formNewOffres.salary, { label: 'Salaire :' }) }}
            {{ form_row(formNewOffres.description, { label: 'Description :' }) }}
            
            <select name="categories" id="categories">
                {% for entity in entities %}
                    {% for category in entity.categories %}
                        <option value="{{ category.label }}">{{ category.label }}</option>
                    {% endfor %}
                {% endfor %}
            </select>

            <select name="contractType" id="contractType">
                {% for entity in entities %}
                    {% for contractType in entity.contractType %}
                        <option value="{{ contractType.label }}">{{ contractType.label }}</option>
                    {% endfor %}
                {% endfor %}
            </select>

            <button type="submit" class="btn">Créer</button>
        {{ form_end(formNewOffres) }}
    </section>
{% endblock %}
