{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}

{% block body %}
    <section id="addOffre">
        <h1>Ajouter une offre</h1>

        {{ form_start(formNewOffres) }}
            {{ form_row(formNewOffres.name, { label: 'Titre :' }) }}
            {{ form_row(formNewOffres.place, { label: 'Lieu :' }) }}
            {{ form_row(formNewOffres.salary, { label: 'Salaire :' }) }}
            {{ form_row(formNewOffres.description, { label: 'Description :' }) }}
            {{ form_row(formNewOffres.categories, { label: 'Catégories :' }) }}
            {{ form_row(formNewOffres.contractType, { label: 'Type de contrat :' }) }}

            <button type="submit" class="btn">Créer</button>
        {{ form_end(formNewOffres) }}
    </section>
{% endblock %}
