{% extends 'base.html.twig' %}

{% block title %}Offres disponibles{% endblock %}

{% block body %}
    <section id="allOffres">
        <h1>Offres disponibles :</h1>
        <div id="offres">
            {% for entity in entities %}
            {% for message in app.flashes('success') %}
                <div id="success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div id="error">
                    {{ message }}
                </div>
            {% endfor %}
                <article>
                {% if entity.author.logo is empty %}

                    {% else %}
                        <img src={{ vich_uploader_asset(entity.author) }} alt={{ entity.name }}>
                {% endif %}
                    <div id="leftPart">
                        <p>{{ entity.name }}</p>
                        <div id="place">
                            <p>{{ entity.author.name }}</p>
                            <p>-</p>
                            <p>{{ entity.place }} </p>
                        </div>
                        <p>{{ entity.salary }} € /mois</p>
                        <p>{{ entity.description|length > 75 ? entity.description|slice(0,75) ~ '...' : entity.description }} </p>
                        <p>{{ entity.contractType.label }} </p>
                        <p>Publié le : {{ entity.createdAt | date('d/m/Y') }} </p>
                    </div>
                    <div id="more">
                        <a href="{{ path("app_mon_offre", {id:entity.id}) }}">Voir l'offre</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
