{% extends 'base.html.twig' %}

{% block title %}Votre application{% endblock %}

{% block body %}
    <section id="candidateOffers">
        {% if offers|length == 0 %}
            <h3>Vous n'avez pas postulé à une offre</h3>
        {% elseif offers|length == 1 %}
            <h2>Vous avez postulé à une seule offre</h2>
        {% else %}
            <h2>Vous avez postulé à {{offers|length}} offre(s)</h2>
        {% endif %}
        <div id="sectionOffers">
            {% for offer in offers %}
                <div>
                    <p>{{offer.name}}</p>
                    <p>{{offer.author.name}}</p>
                    <p>{{offer.description}}</p>
                    <p>{{offer.createdAt | date ('d/m/Y')}}</p>
                    <a href="mailto:projet.melvin@gmail.com">Contacter</a>
                    <article>
                        {% if app.user in offer.applicants %}
                            <a href={{ path ('app_offer_apply', {id:offer.id}) }} class="post del">Supprimer la postulance</a>
                        {% else %}
                            <a href={{ path ('app_offer_apply', {id:offer.id}) }} class="post">Postuler</a>
                        {% endif %}
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}